/* .forgotPass {
    font-weight: 400;
    color: blue;
    font-style: italic;
} */
/* 
.title {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
} */

.card {
    margin: 4rem;
    border: 1px solid black;
}

.form {
    margin: 2rem;
}