.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background-color:antiquewhite;
}

.profileHeader {
    background-color: beige;
}